.color-header {
    background-color: #283F51;
}

.color-menu-text a {
    color: white !important;
}

.mt-50 {
    margin-top: 50px;
}

.mt-20 {
    margin-top: 20px;
}

.carousel-height {
    height: 450px;
}

.cursor-pointer {
    cursor: pointer;
}

.card-style {
    height: 250px;
}

